/*
Theme Name: Rosa Lite Child
Theme URI: https://github.com/pixelgrade/rosa-lite
Description: Rosa Lite Child Theme
Author: FrancisPagusara
Author URI: https://pixelgrade.com
Template: rosa-lite
Version: 1.0.0
*/

body {
    max-width: 1920px !important;
}

.c-hero__background {
    background-color: white !important;
    width: 100% !important;
    height: auto !important;
}

.c-hero__image, .c-hero__video {
    width: 86% !important;
    height: auto !important;
    min-width: 0% !important;
    min-height: 0% !important;
}

.site-header {
    background-color: transparent !important;
}

.site-header .container {
    max-width: 100% !important;
}

.site_logo {
    display: block !important;
    position: absolute !important;
}

.site-logo-img--light {
    width: 800px !important;
    margin-top: 90px !important;
    margin-left: 80px !important;
}

.pledgefront_panel {
    display: block !important;
    position: absolute !important;
    top: 260px;
    left: 500px;
}

.pledgefront_panel_img {
    width: 1280px !important;
    max-width: none !important;
}

.header01 {
    font-size: 30px !important;
}

.about-container {
    flex-basis: 12.33% !important;
    padding-bottom: 30px !important;
    margin-top: 60px !important;
}

.about01 {
    margin-right: 30px !important;
    margin-top: 5px !important;
    letter-spacing: 0px !important;
    font-weight: bolder !important;
}

.about-description-container {
    flex-basis: 87.66% !important;
    margin-top: 60px !important;
}

.wpcf7-form-control-wrap input {
    width: 60% !important;
    background: #f3f0f0fb !important;
}

.wpcf7-submit {
    background-color: #3182dd !important;
    width: 18% !important;
    text-transform: lowercase !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    font-size: 18px !important;
}

.copyright-area.copyright-area__dark {
    background-color: #3182dd !important;
}

.copyright-area svg path {
    fill: #3182dd !important;
}

.article__header.article__header--page {
    min-height: 930px !important;
}

.site-footer {
    display: none !important;
}

.footer-info {
    display: block !important;
    text-align: center !important;
    /* font-weight: bold !important; */
    color: #c3c3c3;
    background-color: #3182dd;
    padding: 5px 0px 5px 0px;
    font-size: 16px !important;
}

::placeholder {
    text-transform: lowercase !important;
    font-style: italic !important;
    font-size: 18px !important;
    color: #c3c3c3 !important;
    text-indent: 15px !important;
}

.down-arrow--transparent .arrow {
    display: none !important;
}

@media screen and (max-width: 1440.99px) {
    .c-hero__background {
        width: 102% !important;
    }
    .c-hero__image, .c-hero__video {
        width: 84% !important;
        height: 790px !important;
    }
    .article__header.article__header--page {
        min-height: 777px !important;
    }
    .site-logo-img--light {
        width: 600px !important;
        margin-top: 90px !important;
        margin-left: 50px !important;
    }
    .pledgefront_panel {
        top: 230px !important;
        left: 290px !important
    }
    .pledgefront_panel_img {
        width: 1100px !important;
    }
}

@media screen and (max-width: 1366.99px) {
    .c-hero__image, .c-hero__video {
        width: 110% !important;
        height: 761px !important;
        top: 0px !important;
    }
    .site-logo-img--light {
        width: 600px !important;
    }
    .site-logo-img--light {
        width: 540px !important;
    }
    .pledgefront_panel_img {
        width: 1000px !important;
    }
}

@media screen and (max-width: 1024.99px) {
    .c-hero__background {
        width: 100% !important;
    }
    .site-logo-img--light {
        width: 400px !important;
    }
    .c-hero__image, .c-hero__video {
        top: -230px !important;
        left: 0px !important;
        object-fit: contain !important;
    }
    .article__header.article__header--page {
        min-height: 640px !important;
    }
    .site-logo-img--light {
        margin-left: 50px !important;
    }
    .pledgefront_panel {
        top: 193px !important;
        left: 150px !important;
    }
    .pledgefront_panel_img {
        width: 850px !important;
    }
}

@media screen and (max-width: 812.99px) {
    .site-logo-img--light {
        width: 300px !important;
        margin-left: 30px !important;
    }
    button.nav-trigger {
        display: none !important;
    }
    .article__header.article__header--page {
        min-height: 480px !important;
    }
    .c-hero__image, .c-hero__video {
        height: 711px !important;
        width: 100% !important;
    }
    .pledgefront_panel {
        top: 168px !important;
        left: 30px !important;
    }
    .pledgefront_panel_img {
        width: 90% !important;
    }
    .wpcf7-submit {
        width: 25% !important;
    }
    .about-container {
        flex-basis: 100% !important;
        padding-bottom: 30px !important;
        margin-top: 30px !important
    }
    .about01 {
        text-align: center !important;
        margin: 0px 0px 0px 0px !important;
    }
    .about-description-container {
        flex-basis: 100% !important;
        margin-top: 0px !important;
        text-align: center !important;
    }
}

@media screen and (max-width:550.99px) {
    .pledgefront_panel {
        left: 0px !important;
        /* margin-left: 20px !important; */
    }
    .pledgefront_panel_img {
        width: 100% !important;
    }
    .c-hero__image, .c-hero__video {
        height: 822px !important;
    }
    .article__header.article__header--page {
        min-height: 390px !important;
    }
    .wpcf7-form-control-wrap input {
        width: 100% !important;
    }
    .wpcf7-submit {
        width: 100% !important;
    }

    .footer-info a {
        display: block;
    }
}

@media screen and (max-width:420.99px) {
    .article__header.article__header--page {
        min-height: 370px !important;
    }
    .page .article__content {
        padding: 15px 0px 15px 0px !important;
    }
}

@media screen and (max-width: 320.99px) {
    .site-logo-img--light {
        width: 95% !important;
        margin: 90px 10px !important;
    }
}